*::before *::after {
    box-sizing: inherit;
}

body {
box-sizing: border-box;
margin: 0;
font-family: 'Times New Roman', Times, serif;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;
}

header {
    height: 200px;
    background: black;
    color: white;
    align-items: center;
    padding: 1rem;
    display: flex;
}

.search-icon {
    position:relative;
    margin-top: 150px;
    margin-left: 50px;
}

.search-bar {
    position: absolute;
    margin-top: 150px;
    margin-left: 15px;
    background-color: black;
    color: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;


}


.logo {
    position: absolute;
    margin-left: 500px;
    top: 50px;
}

.header-icons {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 1250px;
    top: 150px;
    
}

.jackets img {
    position: absolute;
    height: 500px;
    padding: 0rem;
    width: 100%;
}

.jackets p {
    font-family: inter,;
    font-weight:normal;
    font-size: 80px;
    position: absolute;
    display: flex;
    top: 350px;
    left: 40%;
    color: white;
}

.nav-sizes {
    position: absolute;
    top: 900px;
    color: black;
    display: flex;
} 


.filter-icon {
    position: absolute;
    top: 800px;
    left: 200px;
    font-size: 25px;
    z-index: 2;
}

#nav-sizes {
    position: absolute;
    display: flex;
    font-size: 20px;
    top: 800px;
    left: 250px;
    font-weight: light;
    z-index: 2;
    list-style-type: none;
    font-family: inter, ;
    
    
}

#nav-sizes summary {
    list-style: none;
    cursor: pointer;
    border: 1px solid transparent;
    
}

#nav-sizes summary:focus {
    border: 1px solid black;
}

#nav-sizes ul {
    list-style: none; 
    background-color: whitesmoke;
    text-align: center;
    
}

#nav-sizes nav a {
    position: relative;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-align: center;
    color: black;
  
   
    
  
    
}

#nav-sizes nav a:hover {
    background-color: #ccc;
}

.filter-ex {
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    top: 780px;
    left: 300px;
    padding-left: 50px;
    gap: 50px;
}


.product-container {
position: relative;
top: 600px;
align-items: center;
left: 150px;
}

.stormshield img {
    position: absolute;
    height: 400px;
    width: 350px;
    top: 10px;
    left: 10px;
}

.stormshield-text h1 {
    position: absolute;
    left: 50px;
    top: 400px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;

}

.stormshield-text h2 {
    position: absolute;
    left: 50px;
    top: 420px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.stormshield-text p {
    position: absolute;
    left: 260px;
    top: 400px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.heart1 {
    font-size: 20px;
    position: absolute;
    left: 280px;
    top: 435px;
}

.stormshield button {
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: 470px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}



.rainlight img {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 40px;
    left: 400px;
}

.rainlight-text h1 {
    position: absolute;
    left: 400px;
    top: 400px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.rainlight-text h2 {
    position: absolute;
    left: 400px;
    top: 420px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.rainlight-text p {
    position: absolute;
    left: 620px;
    top: 400px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.heart2 {
    font-size: 20px;
    position: absolute;
    left: 640px;
    top: 435px;
}

.rainlight button {
    font-size: 20px;
    position: absolute;
    left: 400px;
    top: 470px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.fitdry img {
    position: absolute;
    height: 370px;
    width: 300px;
    top: 40px;
    left: 800px;
}

.fitdry-text h1 {
    position: absolute;
    left: 800px;
    top: 400px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.fitdry-text h2 {
    position: absolute;
    left: 800px;
    top: 420px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.fitdry-text p {
    position: absolute;
    color: red;
    left: 1020px;
    top: 400px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}



.heart3 {
    font-size: 20px;
    position: absolute;
    left: 1040px;
    top: 435px;
}

.fitdry-text button {
    font-size: 20px;
    position: absolute;
    left: 800px;
    top: 470px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}


.gustguard img {
    position: absolute;
    height: 350px;
    width: 350px;
    top: 600px;
    left: 10px;
}

.gustguard h1 {
    position: absolute;
    left: 50px;
    top: 950px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.gustguard h2 {
    position: absolute;
    left: 50px;
    top: 970px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.gustguard p {
    position: absolute;
    left: 230px;
    top: 950px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.heart4 {
    font-size: 20px;
    position: absolute;
    left: 250px;
    top: 985px;
}

.gustguard button {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 1020px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.urban-rainwear img {
    position: absolute;
    height: 350px;
    width: 330px;
    top: 600px;
    left: 400px;
}

.urban-rainwear h1 {
    position: absolute;
    left: 400px;
    top: 950px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.urban-rainwear h2 {
    position: absolute;
    left: 400px;
    top: 970px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.urban-rainwear p {
    position: absolute;
    left: 650px;
    top: 950px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.heart5 {
    font-size: 20px;
    position: absolute;
    left: 670px;
    top: 985px;
}

.urban-rainwear button {
    font-size: 20px;
    position: absolute;
    left: 420px;
    top: 1020px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.drycore img {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 600px;
    left: 830px;
}

.drycore h1 {
    position: absolute;
    left: 830px;
    top: 950px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.drycore h2 {
    position: absolute;
    left: 830px;
    top: 970px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.drycore p {
    position: absolute;
    left: 1050px;
    top: 950px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.drycore button {
    font-size: 20px;
    position: absolute;
    left: 830px;
    top: 1020px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.heart6 {
    font-size: 20px;
    position: absolute;
    left: 1070px;
    top: 985px;
}


.sherpaheat img {
    position: absolute;
    height: 350px;
    width: 300px;
    top: 1100px;
    left: 50px;
}

.sherpaheat h1 {
    position: absolute;
    left: 50px;
    top: 1450px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 500;
}

.sherpaheat h2 {
    position: absolute;
    left: 50px;
    top: 1470px;
    font-size: 20px;
    font-family: inter,;
    font-weight: 200;
}

.sherpaheat p {
    position: absolute;
    left: 290px;
    top: 1450px;
    font-size: 15px;
    font-family: inter,;
    font-weight: 800;
}

.heart7 {
    font-size: 20px;
    position: absolute;
    left: 310px;
    top: 1485px;
}

.sherpaheat button {
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 1520px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.frame {
    position: relative;
    background-color: white; 
    width: 1200px;
    height: 1600px;
    z-index: -1;
    border: 1px solid black; 
    left: 100px;
    top: 600px;
    
}


footer {
    position: absolute;
    bottom: -250%;
    left: 0;
    height: 200px;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
}

.footer-items {
    position: absolute;
    display: flex;
    gap: 400px;
    padding-left: 30px;
}

.footer-icons {
    position: absolute;
    gap: 10px;
   display: flex;
}

.follow-us {
    font-family: inter, ;
    font-weight: lighter;
}

.help-info {
    font-family: inter, ;
    font-weight: lighter;
}

.about {
    font-family: inter,;
    font-weight: lighter;
}
  


